@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-12 col-md-4">
        <h2>Demo 1</h2>
        <p><a class="btn btn-default" href="@Url.Action("Index","Demo1")">Check &raquo;</a></p>
    </div>
    <div class="col-12 col-md-4">
        <h2>Demo 2</h2>
        <p><a class="btn btn-default" href="@Url.Action("Index","Demo2")">Check &raquo;</a></p>
    </div>
    <div class="col-12 col-md-4">
        <h2>Demo 3</h2>
        <p><a class="btn btn-default" href="@Url.Action("Index","Demo3")">Check &raquo;</a></p>
    </div>
</div>